:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

i.fat {
  width: var(--fa-width, 2.2em);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  overflow-x: hidden;
}

header,
main,
nav,
section {
  display: block;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

blockquote {
  margin: 0;
}

ul {
  margin-top: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

table {
  border-collapse: collapse;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}
textarea {
  overflow: auto;
  resize: vertical;
}

.ft-countdown .ft-separator {
  visibility: hidden;
}

.ft-countdown[separator-mode] .ft-separator {
  visibility: visible;
}

.ft-countdown[tdays] .tdays-prnt {
  display: none !important;
}

.ft-countdown[thours] .thours-prnt {
  display: none !important;
}

.ft-countdown[tminutes] .tminutes-prnt {
  display: none !important;
}

.ft-countdown[tseconds] .tseconds-prnt {
  display: none !important;
}

.ft-countdown[tdays] .thours-space,
.ft-countdown[tdays].ft-countdown[thours] .thours-space {
  display: none;
}

.ft-countdown[thours] .tminutes-space,
.ft-countdown[thours].ft-countdown[tminutes] .tminutes-space {
  display: none;
}

.ft-countdown[tminutes].ft-countdown[tseconds] .tseconds-space,
.ft-countdown[tseconds] .tseconds-space {
  display: none;
}

/* .ft-countdown[separator-mode] .ft-space-box {
    display: inline-block !important ;
  } */
.ffshort-time:not([action]) {
  opacity: 0;
}

.ff-accordion {
  margin-bottom: 10px;
  width: 100%;
  display: inline-block;
  padding: 2px;
  align-items: center;
}

ff-accordion[border="solid"] .collapsed {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.togglefaq.active {
  font-weight: bold;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  font-size: 14px;
  color: #212529;
  font-weight: 600;
  cursor: pointer;
}

.faq-icon {
  margin-right: 5px;
}

.faq-title {
  font-size: inherit;
  font-weight: inherit;
  text-align: left;
  margin: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
}

.faqanswer-par {
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 0;
  padding-left: 2px;
  padding-right: 5px;
  font-weight: 400;
}

.faqanswer {
  display: none;
  padding-left: 10px;
  overflow: hidden;
  min-height: 25px;
}

.ff-accordion[align="right"] .togglefaq {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.ff-accordion[align="right"] .faq-icon {
  margin-right: 0px !important;
}

.ff-faqans-session {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.ff-faqans-session.active {
  display: block;
  max-height: 500px; /* enough to fit your answer */
  opacity: 1;
}

.ffbtnsubtxt {
  display: block;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
  text-align: center;
  color: #ffffff;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.ft-container {
  padding: 0px;
  margin: 0px auto;
  width: 100%;
  overflow: hidden;
}

.ft-icon {
  line-height: 1;
  font-size: 32px;
  color: #000000;
  padding: 4px;
}

.ft-timeCtrl {
  background-color: #333;
  border-radius: 10px;
  font-size: 35px;
  color: #ffc107;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
}

.ffbtnmaintxt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ft-timelabel {
  font-size: 11px;
  padding-top: 4px;
  text-align: center;
  color: #333333;
}

.ft-separator {
  font-size: 35px;
  color: #ffc107;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
}

#i0v3vk {
  width: 15px;
}

.ft-space-box {
  display: inline-block;
  width: 8px;
  vertical-align: top;
}

#izi3p1a {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.75);
  margin-top: 0px;
}

#ipc1kc {
  width: 100%;
  margin-bottom: 3px;
}

#ijdn2 {
  background-color: #1b1915;
}

#iwzspy {
  margin-top: 30px;
}

#igjz5as {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 39px;
  margin-bottom: 0px;
  color: #ffffff;
  line-height: 1.3;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

#iouuykz {
  padding: 0;
  margin-top: 0px;
}

#ihm50t {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0px;
  color: #ffffff;
  margin-top: 5px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
  margin-left: 10px;
  line-height: 1.3;
}

.ft-timerprnt {
  display: inline-block;
}

#izfxms {
  margin-bottom: 5px;
}

#il1f05 {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}

#iu8iu8 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  width: 52px;
  height: 52px;
  font-size: 28px;
  color: #dea15b;
  background-color: rgba(53, 52, 48, 0.7);
  border: 1px solid #353430;
  border-radius: 5px 5px 5px 5px;
}

#ifnv01 {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}

#iljo31 {
  width: 15px;
}

#ir0w6ze {
  font-size: 26px;
  color: #cca15b;
}

#iupl8c {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}

#iumsq9 {
  font-size: 28px;
  height: 52px;
  color: #ffffff;
}

#ic7vdw2 {
  padding: 0;
  margin-top: 0px;
}

#imyc0rg {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0px;
  color: #ffffff;
  margin-top: 5px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
  margin-left: 10px;
  line-height: 1.3;
}

#iddwyci {
  padding-top: 0px;
}

#iv3sgrk {
  padding-bottom: 8px;
  padding-top: 8px;
}

#iyo7j3f {
  display: block;
  margin: 0 auto;
  width: 65%;
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px 5px 5px 5px;
  color: #000000;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 216, 151) 0%,
    rgb(199, 147, 80) 100%
  );
  font-family: Montserrat, sans-serif;
}

#im5tyw {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  width: 52px;
  height: 52px;
  font-size: 28px;
  color: #dea15b;
  background-color: rgba(53, 52, 48, 0.7);
  border: 1px solid #353430;
  border-radius: 5px 5px 5px 5px;
}

#islq2n2 {
  flex-basis: 13.8%;
  padding: 8px;
  background-color: #1c1c1c;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgba(255, 255, 255, 0.11);
}

#ixt6yql {
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  border: 1px solid rgba(222, 161, 91, 0.5);
  background-color: rgba(53, 52, 48, 0.5);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 20px -10px #1b1915;
}

#i6uwxg {
  padding-top: 0px;
}

#ijn494n {
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  border: 1px solid rgba(222, 161, 91, 0.5);
  background-color: rgba(53, 52, 48, 0.5);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 20px -10px #1b1915;
}

#ichk65j {
  padding-bottom: 8px;
  padding-top: 8px;
}

#iitslr7 {
  flex-basis: 13.8%;
  padding: 8px;
  background-color: #1c1c1c;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgba(255, 255, 255, 0.11);
}

#iq89 {
  background-color: #dfb57c;
  padding-bottom: 5px;
  padding-top: 5px;
}

#i4xa {
  padding-bottom: 0px;
  padding-top: 0px;
}

#iofo4 {
  padding-bottom: 5px;
  padding-top: 5px;
}
#iofo4 {
  padding-bottom: 2px;
  padding-top: 2px;
}

#i2mls {
  padding-bottom: 0px;
  padding-top: 0px;
}

#i99ub {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0px;
}

#iw1kvk {
  font-size: 28px;
  height: 52px;
  color: #ffffff;
}

#i1lcvij {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0px;
  color: #ffffff;
  margin-top: 5px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
  margin-left: 10px;
  line-height: 1.3;
}

#iznmlq {
  width: 15px;
}

#in4wi {
  background-color: #1b1915;
  background-image: url(../assets/bgimg.webp);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
  background-size: 100% 100%;
}

#i0sspq {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  width: 52px;
  height: 52px;
  font-size: 28px;
  color: #dea15b;
  background-color: rgba(53, 52, 48, 0.7);
  border: 1px solid #353430;
  border-radius: 5px 5px 5px 5px;
}

#iijvd3 {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}

#i3iys {
  padding-top: 0px;
}

#ivkmtk {
  margin-right: 12px;
  color: #dea15b;
}

#iajnz {
  padding-bottom: 0px;
}

#iopp4ee {
  padding-bottom: 8px;
  padding-top: 8px;
}

#io2zfef {
  flex-basis: 13.8%;
  padding: 8px;
  background-color: #1c1c1c;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgba(255, 255, 255, 0.11);
}

#iv3e3 {
  padding-top: 0px;
}

#i45728 {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 16px;
}

#ibjsflh {
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  border: 1px solid rgba(222, 161, 91, 0.5);
  background-color: rgba(53, 52, 48, 0.5);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 20px -10px #1b1915;
}

#i8t93d3 {
  padding-bottom: 8px;
  padding-top: 8px;
}

#i4ah49n {
  font-size: 26px;
  color: #cca15b;
}

#i178nph {
  padding: 0;
  margin-top: 0px;
}

#i0430rj {
  flex-basis: 13.8%;
  padding: 8px;
  background-color: #1c1c1c;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgba(255, 255, 255, 0.11);
}

#ikw6pwl {
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  border: 1px solid rgba(222, 161, 91, 0.5);
  background-color: rgba(53, 52, 48, 0.5);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 20px -10px #1b1915;
}

#ii1fgu4 {
  padding-top: 0px;
  padding-bottom: 0px;
}

#ii9ipvc {
  width: 100%;
}

#ipjyzt {
  width: 60%;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #1c1c1c;
  border: 1px solid rgba(222, 161, 91, 0.5);
  border-radius: 32px 32px 32px 32px;
  box-shadow: 0px 0px 15px -7px #1c1c1c;
}

#idyavcf {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0px;
  color: #ffffff;
  margin-top: 0px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

#izcvgap {
  font-size: 26px;
  color: #cca15b;
}

#itsf3l2 {
  padding: 0;
  margin-top: 0px;
}

.hgt {
  height: 60px;
}

#ix8pd6s {
  background-color: #dea15b;
  margin-bottom: -1px;
  padding-bottom: 2px;
  padding-top: 2px;
  font-size: 21px;
  font-family: Montserrat, sans-serif;
}

#isw5fy {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 42px;
  margin-bottom: 0px;
  color: #ffffff;
  line-height: 1.3;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  margin-top: 0px;
}

#ivipkyg {
  font-size: 26px;
  color: #cca15b;
}

#ilhu3k {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 22px;
  color: #ffffff;
  margin-top: 10px;
}

#i3n9te {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.84);
  margin-top: 12px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

#i8lvf {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  margin-top: 0px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
}

#i7ukyii {
  width: 46.2%;
  padding: 0;
  background-color: #282723;
  border-radius: 5px 5px 5px 5px;
  border: 1px dashed rgba(222, 161, 91, 0.8);
  margin-top: 0px;
}

#ia5nk {
  width: 100%;
  margin-bottom: 0px;
}

#i8v7xg {
  flex-basis: 70%;
}

#ireiiw {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

#io73ok {
  width: 100%;
  margin-bottom: 3px;
}

#iu7vu8 {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 16px;
}

#i2e7xg {
  margin-right: 12px;
  color: #dea15b;
}

#ioh5qw {
  width: 100%;
  margin-bottom: 3px;
}

#i5o8xm {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 16px;
}

#ibk4um {
  margin-right: 12px;
  color: #dea15b;
}

#iovufy {
  width: 100%;
  margin-bottom: 3px;
}

#isyfrz {
  margin-right: 12px;
  color: #dea15b;
}

#ixpp4v {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 16px;
}

#igncnj {
  width: 100%;
  margin-bottom: 3px;
}

#i7t4tf {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 16px;
}

#iflbb9 {
  margin-right: 12px;
  color: #dea15b;
}

#i4l3fi {
  width: 100%;
  margin-bottom: 0px;
}

#i5af27 {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 16px;
}

#iab5bh {
  margin-right: 12px;
  color: #dea15b;
}

#ib0viy {
  margin-right: 12px;
  color: #dea15b;
}

#it99dj {
  width: 100%;
  margin-bottom: 3px;
}

#ixswx9 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
  color: #ffffff;
  margin-top: 15px;
  text-align: left;
}

#id4egg {
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.48);
  background-color: #1c1c1c;
}

#ik158g {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 7px;
  padding-top: 7px;
}

#ihdbe5 {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 18px;
}

#iciyqc {
  margin-right: 12px;
  color: #dea15b;
}

#ietgpj {
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.48);
  background-color: #1c1c1c;
}

#i5884b {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 7px;
  padding-top: 7px;
}

#ijbmja {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 18px;
}

#ip1mkh {
  margin-right: 12px;
  color: #dea15b;
}

#ih73z0k {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 48px;
  margin-bottom: 0px;
  color: #ffffff;
  line-height: 1.3;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  margin-top: 0px;
}

#ic0rfh {
  padding-top: 0px;
}

#i04jod {
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.48);
  background-color: #1c1c1c;
}

#ijkcc3 {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 7px;
  padding-top: 7px;
}

#ig8h9j {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 18px;
}

#i62ij3 {
  margin-right: 12px;
  color: #dea15b;
}

#i2peqr {
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.48);
  background-color: #1c1c1c;
}

#ijy5gx {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 7px;
  padding-top: 7px;
}

#ifojhe {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 18px;
}

#id6c5g {
  margin-right: 12px;
  color: #dea15b;
}

#idjl3e {
  padding-top: 0px;
}

#idwuap {
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.48);
  background-color: #1c1c1c;
}

#icj9px {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 7px;
  padding-top: 7px;
}

#ihoxsf {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 18px;
}

#i4jv5i {
  margin-right: 12px;
  color: #dea15b;
}

#is95gx {
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.48);
  background-color: #1c1c1c;
}

#i1df22 {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 7px;
  padding-top: 7px;
}

#i1df22 {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 7px;
  padding-top: 7px;
}

#ikiv66 {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 18px;
}

#iuirh3 {
  margin-right: 12px;
  color: #dea15b;
}

#is9jye {
  background-color: #22221f;
}

#izj42v {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
  color: #eeeeee;
  line-height: 1.3;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  margin-top: 15px;
}

#isdbt1 {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 48px;
  margin-bottom: 0px;
  color: #ffffff;
  line-height: 1.4;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  margin-top: 0px;
}

#iyo9jhp {
  margin-top: 20px;
}

#ixmaofl {
  margin: 15px;
}

#i24xjco {
  width: 100%;
  background-color: #1c1c1c;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border: 1px solid #dea15b;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 3px 0px 0px #dea15b;
  padding-bottom: 0px;
}

#itatwgn {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
}

#ibk745b {
  flex-basis: 74.6%;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

#ignun3d {
  width: 75%;
  margin-bottom: 35px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 5px 20px -7px #000000;
  margin-top: -40px;
}

#itfgxfh {
  background-color: rgba(40, 39, 35, 0.8);
  border-radius: 0 0 10px 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 0px 10px 25px -20px #1c1c1c;
}

#iecuw7l {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 10px;
  color: #ffffff;
  line-height: 1.3;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  text-align: center;
}

#iigto9h {
  width: 85%;
  margin-bottom: 0px;
  margin-top: 12px;
}

#ifm4c1m {
  color: rgba(255, 255, 255, 0.9);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  font-size: 14px;
}

#islnb0x {
  margin-right: 12px;
  color: #ff0000;
}

#i8ihfnm {
  width: 85%;
  margin-bottom: 0px;
  margin-top: 0px;
}

#ibyrqks {
  color: rgba(255, 255, 255, 0.9);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  font-size: 14px;
}

#if4v1ka {
  margin-right: 12px;
  color: #ff0000;
}

#iqur51f {
  width: 85%;
  margin-bottom: 0px;
  margin-top: 0px;
}

#i0iluws {
  color: rgba(255, 255, 255, 0.9);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  font-size: 14px;
}

#idlyu6x {
  margin-right: 12px;
  color: #ff0000;
}

#in58emq {
  width: 85%;
  margin-bottom: 44px;
  margin-top: 0px;
}

#iz7h1ig {
  color: rgba(255, 255, 255, 0.9);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  font-size: 14px;
}

#i3khm1l {
  margin-right: 12px;
  color: #ff0000;
}

#ii67gio {
  margin: 15px;
}

#iv99wte {
  width: 100%;
  background-color: #1c1c1c;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border: 1px solid #dea15b;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 3px 0px 0px #dea15b;
  padding-bottom: 0px;
}

#icdaing {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
}

#iimlipi {
  flex-basis: 74.6%;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

#ihqrewk {
  width: 75%;
  margin-bottom: 35px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 5px 20px -7px #000000;
  margin-top: -40px;
}

#i7q68rx {
  width: 85%;
  margin-bottom: 0px;
  margin-top: 12px;
}

#i6kysg8 {
  color: rgba(255, 255, 255, 0.9);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  font-size: 14px;
}

#ik9knjh {
  margin-right: 12px;
  color: #39ff00;
}

#ieufhqk {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 10px;
  color: #ffffff;
  line-height: 1.3;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  text-align: center;
}

#ije5vmc {
  width: 85%;
  margin-bottom: 0px;
  margin-top: 0px;
}

#irh4i99 {
  color: rgba(255, 255, 255, 0.9);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  font-size: 14px;
}

#iks20xq {
  margin-right: 12px;
  color: #39ff00;
}

#ioft45g {
  width: 85%;
  margin-bottom: 0px;
  margin-top: 0px;
}

#i01qyhk {
  color: rgba(255, 255, 255, 0.9);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  font-size: 14px;
}

#iucjels {
  margin-right: 12px;
  color: #39ff00;
}

#idygyaf {
  width: 85%;
  margin-bottom: 25px;
  margin-top: 0px;
}

#i6b39b2 {
  color: rgba(255, 255, 255, 0.9);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  font-size: 14px;
}

#i1vjsr8 {
  margin-right: 12px;
  color: #39ff00;
}

#iyhsr7y {
  background-color: rgba(40, 39, 35, 0.8);
  border-radius: 0 0 10px 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 0px 10px 25px -20px #1c1c1c;
}

#ig6fzk2 {
  background-color: #22221f;
}

#i81em5b {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 20px;
  color: #dea15b;
  line-height: 1.3;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  margin-top: 15px;
}

#ikv5ai5 {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 48px;
  margin-bottom: 0px;
  color: #ffffff;
  line-height: 1.4;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  margin-top: 0px;
}

#ital278 {
  width: 90%;
}

#i40donl {
  padding: 1px;
  border-radius: 5px 5px 5px 5px;
  border-left: 1px solid rgba(222, 161, 91, 0.5);
  border-right: 1px solid rgba(222, 161, 91, 0.5);
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.19);
}

#i4hvuf6 {
  background-color: #1c1c1c;
}

#i9sqy1i {
  font-size: 18px;
  color: #ffffff;
  background-color: #262522;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

#ivi9d3j {
  color: #dea15b;
  font-size: 16px;
}

#i1xwvl7 {
  padding-right: 2px;
  padding-left: 2px;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 12px;
}

#isfma54 {
  padding: 1px;
  border-radius: 5px 5px 5px 5px;
  border-left: 1px solid rgba(222, 161, 91, 0.5);
  border-right: 1px solid rgba(222, 161, 91, 0.5);
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.18);
}

#isyyhvz {
  background-color: #1c1c1c;
}

#irjttq2 {
  font-size: 18px;
  color: #ffffff;
  background-color: #262522;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

#i0fyb6m {
  color: #dea15b;
  font-size: 16px;
}

#i220qi5 {
  padding-right: 2px;
  padding-left: 2px;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 12px;
}

#id9x015 {
  padding: 1px;
  border-radius: 5px 5px 5px 5px;
  border-left: 1px solid rgba(222, 161, 91, 0.5);
  border-right: 1px solid rgba(222, 161, 91, 0.5);
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.22);
}

#ig7s04i {
  background-color: #1c1c1c;
}

#i13khyp {
  font-size: 18px;
  color: #ffffff;
  background-color: #262522;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

#inew42y {
  color: #dea15b;
  font-size: 16px;
}

#i51g3uc {
  padding-right: 2px;
  padding-left: 2px;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 12px;
}

#i51g3uc {
  font-size: 12px;
}

#ier8rmv {
  padding: 1px;
  border-radius: 5px 5px 5px 5px;
  border-left: 1px solid rgba(222, 161, 91, 0.5);
  border-right: 1px solid rgba(222, 161, 91, 0.5);
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.19);
}

#ivk8cht {
  background-color: #1c1c1c;
}

#iyb8274 {
  font-size: 18px;
  color: #ffffff;
  background-color: #262522;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

#iy1hd6l {
  color: #dea15b;
  font-size: 16px;
}

#ikqxbm5 {
  padding-right: 2px;
  padding-left: 2px;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 12px;
}

#iu67aot {
  padding: 1px;
  border-radius: 5px 5px 5px 5px;
  border-left: 1px solid rgba(222, 161, 91, 0.5);
  border-right: 1px solid rgba(222, 161, 91, 0.5);
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.19);
}

#iadqhhp {
  background-color: #1c1c1c;
}

#i2nc9t4 {
  font-size: 18px;
  color: #ffffff;
  background-color: #262522;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

#i6tn2eh {
  color: #dea15b;
  font-size: 16px;
}

#il69908 {
  padding-right: 2px;
  padding-left: 2px;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 12px;
}

#i0ewm1r {
  padding: 1px;
  border-radius: 5px 5px 5px 5px;
  border-left: 1px solid rgba(222, 161, 91, 0.5);
  border-right: 1px solid rgba(222, 161, 91, 0.5);
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.21);
}

#iukfwyk {
  background-color: #1c1c1c;
}

#its0qvh {
  font-size: 18px;
  color: #ffffff;
  background-color: #262522;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

#i07j3l1 {
  color: #dea15b;
  font-size: 16px;
}

#iu46wza {
  padding-right: 2px;
  padding-left: 2px;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 12px;
}

#i9y44r9 {
  padding: 1px;
  border-radius: 5px 5px 5px 5px;
  border-left: 1px solid rgba(222, 161, 91, 0.5);
  border-right: 1px solid rgba(222, 161, 91, 0.5);
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.21);
}

#ipu3zyk {
  background-color: #1c1c1c;
}

#i3w5kih {
  font-size: 18px;
  color: #ffffff;
  background-color: #262522;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

#ikjs7et {
  color: #dea15b;
  font-size: 16px;
}

#i6ykzg8 {
  padding-right: 2px;
  padding-left: 2px;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 12px;
}

#ig9611h {
  padding: 1px;
  border-radius: 5px 5px 5px 5px;
  border-left: 1px solid rgba(222, 161, 91, 0.5);
  border-right: 1px solid rgba(222, 161, 91, 0.5);
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.2);
}

#ijmxdt8 {
  background-color: #1c1c1c;
}

#iy6cuzx {
  font-size: 18px;
  color: #ffffff;
  background-color: #262522;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

#i9mqpuk {
  color: #dea15b;
  font-size: 16px;
}

#icwd9mb {
  padding-right: 2px;
  padding-left: 2px;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 12px;
}

#imdetqi {
  padding: 1px;
  border-radius: 5px 5px 5px 5px;
  border-left: 1px solid rgba(222, 161, 91, 0.5);
  border-right: 1px solid rgba(222, 161, 91, 0.5);
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.2);
}

#ihvcu6o {
  background-color: #1c1c1c;
}

#i2lsc97 {
  font-size: 18px;
  color: #ffffff;
  background-color: #262522;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

#im4xw49 {
  color: #dea15b;
  font-size: 16px;
}

#i7elkll {
  padding-right: 2px;
  padding-left: 2px;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 12px;
}

#iydzmnk {
  padding-top: 10px;
  margin-top: 17px;
  margin-bottom: 25px;
}

#i3b4la {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
  color: #ffffff;
  margin-top: 5px;
  text-align: left;
}

#ibiip7 {
  margin-right: 12px;
  color: #dea15b;
}

#io20s4 {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 16px;
}

#i5y7ok {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 16px;
}

#itrh34 {
  padding-top: 0px;
}

#iyo7j3f {
  animation: shakex 1.5s ease infinite,
    animatedgradient 3s ease infinite alternate; /* Applies both shake and gradient animations with faster shake */
  padding: 10px 20px;
  background-image: radial-gradient(
    circle,
    #dea15b,
    #e6ae67,
    #eebb74,
    #f7c881,
    #ffd58e
  ); /* Initial gradient background */
  background-size: 300% 300%;
  color: black; /* Changed text color to black */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}
@keyframes shakex {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-2px); /* Slight shake to the left */
  }
  50% {
    transform: translateX(2px); /* Slight shake to the right */
  }
}
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} /* Optional: Hover effect */
.shake-gradient-button:hover {
  background-position: 100% 50%;
  transform: scale(1.05); /* Slightly increase size on hover */
}

.wrapper-box {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.gjs-ft-wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.gjs-ft-wrap-normal {
  max-width: 1140px;
}

.gjs-ft-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gjs-ft-column {
  flex-grow: 1;
  flex-basis: 100%;
  min-height: 1px;
  padding: 10px 15px;
  word-break: break-word;
}

.ftsub_heading {
  text-align: center;
  font-size: 23px;
  color: #000000;
  font-weight: 400;
  line-height: 1.2;
}

.resize-row-style {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ft_com_div {
  text-align: center;
}

.ft_com_box {
  text-align: center;
}

.countdown {
  display: inline-block;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px;
}

.ft-countdown-prnt {
  text-align: center;
}

.fa-check-square:before {
  content: "\f14a";
}

.liIcons {
  margin-right: 5px;
}

.ft_lg_li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  color: #fff; /* Adjust to your background */
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  font-size: 18px;
  min-height: 25px;
  line-height: 1.5;
  color: #000000;
}
.ft_lg_listyle {
  margin-bottom: 10px;
  padding-bottom: 0;
}

.ff_lg_ul {
  display: inline-block;
  text-align: center;
  list-style-position: outside;
  word-break: break-word;
  margin-bottom: 10px;
  list-style-type: disc;
  list-style: none; /* Removes normal bullets */
  padding-left: 0; /* Removes extra spacing */
  margin: 0;
  width: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 768px) {
  .gjs-ft-row {
    flex-wrap: wrap;
  }
  .gjs-ft-column {
    /* flex-basis: 100%; */
    flex-basis: 100% !important;
  }
}

@media (max-width: 768px) {
  .ft-resize {
    width: 100%;
  }
}

@media (max-width: 480px) {
  #i99ub {
    font-size: 14px;
  }

  #ixswx9 {
    font-size: 16px;
  }

  #ixsjmr {
    padding-bottom: 0px;
  }

  #ignun3d {
    width: 85%;
    margin-top: -55px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 25px;
  }

  #iigto9h {
    width: 95%;
  }

  #ifm4c1m {
    font-size: 15px;
  }

  #i8ihfnm {
    width: 95%;
  }

  #ibyrqks {
    font-size: 15px;
  }

  #iqur51f {
    width: 95%;
  }

  #i0iluws {
    font-size: 15px;
  }

  #in58emq {
    width: 95%;
    margin-bottom: 15px;
  }

  #iz7h1ig {
    font-size: 15px;
  }

  #ii67gio {
    margin: 0;
    margin-top: 70px;
  }

  #ihqrewk {
    width: 85%;
    border-radius: 15px 15px 15px 15px;
    margin-top: -55px;
    margin-bottom: 25px;
  }

  #i6kysg8 {
    font-size: 15px;
  }

  #irh4i99 {
    font-size: 15px;
  }

  #i81em5b {
    font-size: 12px;
  }

  #ital278 {
    width: 100%;
  }

  #i9sqy1i {
    font-size: 14px;
  }

  #i1xwvl7 {
    font-size: 12px;
  }

  #irjttq2 {
    font-size: 14px;
  }

  #i220qi5 {
    font-size: 12px;
  }

  #i13khyp {
    font-size: 14px;
  }

  #iyb8274 {
    font-size: 14px;
  }

  #ikqxbm5 {
    font-size: 12px;
  }

  #i2nc9t4 {
    font-size: 14px;
  }

  #il69908 {
    font-size: 12px;
  }

  #its0qvh {
    font-size: 14px;
  }

  #iu46wza {
    font-size: 12px;
  }

  #i3w5kih {
    font-size: 14px;
  }

  #i6ykzg8 {
    font-size: 12px;
  }

  #iy6cuzx {
    font-size: 14px;
  }

  #icwd9mb {
    font-size: 12px;
  }

  #i2lsc97 {
    font-size: 14px;
  }

  #i7elkll {
    font-size: 12px;
  }

  #iydzmnk {
    margin-top: 0px;
  }

  #i01qyhk {
    font-size: 15px;
  }

  #idygyaf {
    margin-bottom: 9px;
  }

  #i6b39b2 {
    font-size: 15px;
  }

  #ihdbe5 {
    font-size: 16px;
  }

  #ijbmja {
    font-size: 16px;
  }

  #ic0rfh {
    padding-bottom: 0px;
  }

  #ig8h9j {
    font-size: 16px;
  }

  #ifojhe {
    font-size: 16px;
  }

  #ihoxsf {
    font-size: 16px;
  }

  #ikiv66 {
    font-size: 16px;
  }

  #i9o0e {
    padding: 0;
  }

  #iv3e3 {
    padding-right: 5px;
    padding-left: 5px;
  }

  #i882k4 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    width: 52px;
    height: 52px;
    font-size: 28px;
    color: #dea15b;
    background-color: rgba(53, 52, 48, 0.7);
    border: 1px solid #353430;
    border-radius: 5px 5px 5px 5px;
  }

  #i5o8xm {
    font-size: 16px;
  }
  #ixpp4v {
    font-size: 16px;
  }

  #i5af27 {
    font-size: 16px;
  }

  #i7t4tf {
    font-size: 16px;
  }

  #i3b4la {
    font-size: 16px;
  }

  #ifhm3g2 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0px;
    color: #ffffff;
    margin-top: 5px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    text-align: left;
    margin-left: 10px;
    line-height: 1.3;
  }

  #im5tyw {
    width: 44px;
    height: 44px;
    font-size: 24px;
  }

  #iu7vu8 {
    font-size: 16px;
  }

  #iksn7n {
    width: 100%;
    margin-bottom: 3px;
  }

  #ipjyzt {
    width: 80%;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid rgba(222, 161, 91, 0.77);
  }

  #ix8pd6s {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    margin-bottom: 2px;
    margin-top: 2px;
  }

  #idyavcf {
    font-size: 12px;
    font-weight: 700;
  }

  #io20s4 {
    font-size: 16px;
  }

  #ihm50t {
    margin-left: 0px;
    font-size: 12px;
    text-align: center;
  }

  #isw5fy {
    font-size: 28px;
    margin-bottom: 20px;
  }

  #ii1fgu4 {
    flex-wrap: nowrap;
  }

  #ireiiw {
    width: 100%;
    margin-top: 0px;
  }

  #i8lvf {
    font-size: 16px;
  }
  #iddwyci {
    flex-wrap: nowrap;
  }

  #iopp4ee {
    flex-wrap: wrap;
  }
  #ilhu3k {
    margin-bottom: 14px;
  }

  #i7ukyii {
    width: 80%;
  }

  #islq2n2 {
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
    background-color: #282723;
    border: 0px solid rgba(255, 255, 255, 0.11);
  }

  #iw1kvk {
    font-size: 24px;
    height: 44px;
  }

  #iu8iu8 {
    width: 44px;
    height: 44px;
    font-size: 24px;
  }

  #i5y7ok {
    font-size: 16px;
  }
  #ir0w6ze {
    background-color: #1c1c1c;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px 5px 5px 5px;
    font-size: 24px;
  }

  #ia5nk {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0;
    border-radius: 5px 5px 5px 5px;
  }

  #izcvgap {
    background-color: #1c1c1c;
    padding: 8px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    font-size: 24px;
  }

  #imyc0rg {
    margin-left: 0px;
    text-align: center;
    font-size: 12px;
  }

  #ifhm3g2 {
    margin-left: 0px;
    font-size: 12px;
    text-align: center;
  }

  #i45728 {
    font-size: 16px;
  }

  #io2zfef {
    margin: 0px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
    border: 0px solid rgba(255, 255, 255, 0.11);
    background-color: #282723;
  }

  #i0sspq {
    width: 44px;
    height: 44px;
    font-size: 24px;
  }

  #iumsq9 {
    font-size: 24px;
    height: 44px;
  }

  #izj42v {
    font-size: 16px;
    font-weight: 600;
  }

  #isdbt1 {
    font-size: 28px;
  }

  #iyo9jhp {
    margin-top: 40px;
  }

  #ixmaofl {
    margin: 0;
  }

  #i3n9te {
    margin-top: 14px;
  }

  #i1lcvij {
    font-size: 12px;
    text-align: center;
    margin-left: 0px;
  }

  #i882k4 {
    width: 44px;
    height: 44px;
    font-size: 24px;
  }

  #i8v7xg {
    padding: 0;
  }

  #ivipkyg {
    font-size: 24px;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px 5px 5px 5px;
    background-color: #1c1c1c;
  }
}

@media (max-width: 575.98px) {
  #ipjyzt {
    width: 97%;
    margin-top: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-right: 6px;
    padding-left: 6px;
  }

  #ixswx9 {
    font-size: 12px;
    line-height: 1.4;
    font-weight: 500;
  }

  #ih73z0k {
    font-size: 22px;
    line-height: 1.3;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  #i0430rj {
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
    background-color: #282723;
    border: 0px solid rgba(255, 255, 255, 0.11);
  }

  #i4ah49n {
    background-color: #1c1c1c;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px 5px 5px 5px;
    font-size: 24px;
  }

  #idyavcf {
    font-size: 13px;
  }

  #izj42v {
    font-size: 23px;
    line-height: 1.3;
    margin-top: 0px;
  }

  #isdbt1 {
    font-size: 23px;
    line-height: 1.3;
    margin-top: 0px;
  }

  #iecuw7l {
    font-size: 23px;
    line-height: 1.3;
    margin-top: 0px;
  }

  #ieufhqk {
    font-size: 23px;
    line-height: 1.3;
    margin-top: 0px;
  }

  #imfswi {
    background-color: #1b1915;
    background-image: url(../assets/bgimg.webp);
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
  }

  #i81em5b {
    font-size: 23px;
    line-height: 1.3;
    margin-top: 0px;
  }

  #ikv5ai5 {
    font-size: 23px;
    line-height: 1.3;
    margin-top: 0px;
  }

  #i3b4la {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
  }

  #isw5fy {
    font-size: 23px;
    line-height: 1.3;
    margin-top: 0px;
  }

  #ilhu3k {
    font-size: 12px;
    line-height: 1.4;
    font-weight: 500;
  }

  #ifhm3g2 {
    font-size: 13px;
  }

  #i1lcvij {
    font-size: 13px;
  }

  #i3n9te {
    font-size: 14px;
    margin-top: 35px;
  }

  #imyc0rg {
    font-size: 13px;
  }

  #izfxms {
    margin-bottom: 0px;
  }

  #izi3p1a {
    font-size: 12px;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.86);
  }

  #ihm50t {
    font-size: 13px;
  }

  #im5tyw {
    width: 48px;
    height: 48px;
    font-size: 26px;
  }

  #iupl8c {
    font-size: 10px;
  }

  #iumsq9 {
    font-size: 26px;
    height: 48px;
  }

  #i0sspq {
    width: 48px;
    height: 48px;
    font-size: 26px;
  }

  #i882k4 {
    width: 48px;
    height: 48px;
    font-size: 26px;
  }

  #il1f05 {
    font-size: 10px;
  }

  #id998bz {
    font-size: 12px;
  }

  #iw1kvk {
    font-size: 26px;
    height: 48px;
  }

  #iu8iu8 {
    width: 48px;
    height: 48px;
    font-size: 26px;
  }

  #ifnv01 {
    font-size: 10px;
  }

  #iyo7j3f {
    width: 100%;
    font-size: 16px;
  }

  #igjz5as {
    font-size: 22px;
    line-height: 1.3;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  #iijvd3 {
    font-size: 10px;
  }
}
body {
  background-color: #000; /* Assuming a dark background to highlight white text */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Ensure the body takes the full height */
  font-family: "Montserrat", sans-serif;
}
