:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

i.fat {
  width: var(--fa-width, 2.2em);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  overflow-x: hidden;
}

header,
main,
nav,
section {
  display: block;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

blockquote {
  margin: 0;
}

ul {
  margin-top: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

table {
  border-collapse: collapse;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}
textarea {
  overflow: auto;
  resize: vertical;
}

.ft-countdown .ft-separator {
  visibility: hidden;
}

.ft-countdown[separator-mode] .ft-separator {
  visibility: visible;
}

.ft-countdown[tdays] .tdays-prnt {
  display: none !important;
}

.ft-countdown[thours] .thours-prnt {
  display: none !important;
}

.ft-countdown[tminutes] .tminutes-prnt {
  display: none !important;
}

.ft-countdown[tseconds] .tseconds-prnt {
  display: none !important;
}

.ft-countdown[tdays] .thours-space,
.ft-countdown[tdays].ft-countdown[thours] .thours-space {
  display: none;
}

.ft-countdown[thours] .tminutes-space,
.ft-countdown[thours].ft-countdown[tminutes] .tminutes-space {
  display: none;
}

.ft-countdown[tminutes].ft-countdown[tseconds] .tseconds-space,
.ft-countdown[tseconds] .tseconds-space {
  display: none;
}

/* .ft-countdown[separator-mode] .ft-space-box {
    display: inline-block !important ;
  } */
.ffshort-time:not([action]) {
  opacity: 0;
}

.ffbtnsubtxt {
  display: block;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
  text-align: center;
  color: #ffffff;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.ft-container {
  padding: 0px;
  margin: 0px auto;
  width: 100%;
  overflow: hidden;
}

.ft-icon {
  line-height: 1;
  font-size: 32px;
  color: #000000;
  padding: 4px;
}

.ft-timeCtrl {
  background-color: #333;
  border-radius: 10px;
  font-size: 35px;
  color: #ffc107;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
}

.ffbtnmaintxt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ft-timelabel {
  font-size: 11px;
  padding-top: 4px;
  text-align: center;
  color: #333333;
}

.ft-separator {
  font-size: 35px;
  color: #ffc107;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
}

#i0v3vk {
  width: 15px;
}

.ft-space-box {
  display: inline-block;
  width: 8px;
  vertical-align: top;
}

#izi3p1a {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.75);
  margin-top: 0px;
}

#iouuykz {
  padding: 0;
  margin-top: 0px;
}

#ihm50t {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0px;
  color: #ffffff;
  margin-top: 5px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
  margin-left: 10px;
  line-height: 1.3;
}

.ft-timerprnt {
  display: inline-block;
}

#izfxms {
  margin-bottom: 5px;
}

#il1f05 {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}

#iu8iu8 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  width: 52px;
  height: 52px;
  font-size: 28px;
  color: #dea15b;
  background-color: rgba(53, 52, 48, 0.7);
  border: 1px solid #353430;
  border-radius: 5px 5px 5px 5px;
}

#ifnv01 {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}

#iljo31 {
  width: 15px;
}

#ir0w6ze {
  font-size: 26px;
  color: #cca15b;
}

#iupl8c {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}

#iumsq9 {
  font-size: 28px;
  height: 52px;
  color: #ffffff;
}

#ic7vdw2 {
  padding: 0;
  margin-top: 0px;
}

#imyc0rg {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0px;
  color: #ffffff;
  margin-top: 5px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
  margin-left: 10px;
  line-height: 1.3;
}

#iddwyci {
  padding-top: 0px;
}

#iv3sgrk {
  padding-bottom: 8px;
  padding-top: 8px;
}

#iyo7j3f {
  display: block;
  width: 65%;
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px 5px 5px 5px;
  color: #000000;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 216, 151) 0%,
    rgb(199, 147, 80) 100%
  );
  font-family: Montserrat, sans-serif;
}

#im5tyw {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  width: 52px;
  height: 52px;
  font-size: 28px;
  color: #dea15b;
  background-color: rgba(53, 52, 48, 0.7);
  border: 1px solid #353430;
  border-radius: 5px 5px 5px 5px;
}

#islq2n2 {
  flex-basis: 13.8%;
  padding: 8px;
  background-color: #1c1c1c;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgba(255, 255, 255, 0.11);
}

#ixt6yql {
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  border: 1px solid rgba(222, 161, 91, 0.5);
  background-color: rgba(53, 52, 48, 0.5);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 20px -10px #1b1915;
}

#i6uwxg {
  padding-top: 0px;
}

#ijn494n {
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  border: 1px solid rgba(222, 161, 91, 0.5);
  background-color: rgba(53, 52, 48, 0.5);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 20px -10px #1b1915;
}

#ichk65j {
  padding-bottom: 8px;
  padding-top: 8px;
}

#iitslr7 {
  flex-basis: 13.8%;
  padding: 8px;
  background-color: #1c1c1c;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgba(255, 255, 255, 0.11);
}

#iq89 {
  background-color: #dfb57c;
  padding-bottom: 5px;
  padding-top: 5px;
}

#i4xa {
  padding-bottom: 0px;
  padding-top: 0px;
}

#iofo4 {
  padding-bottom: 5px;
  padding-top: 5px;
}
#iofo4 {
  padding-bottom: 2px;
  padding-top: 2px;
}

#i2mls {
  padding-bottom: 0px;
  padding-top: 0px;
}

#i99ub {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0px;
}

#iw1kvk {
  font-size: 28px;
  height: 52px;
  color: #ffffff;
}

#i1lcvij {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0px;
  color: #ffffff;
  margin-top: 5px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
  margin-left: 10px;
  line-height: 1.3;
}

#iznmlq {
  width: 15px;
}

#in4wi {
  background-color: #1b1915;
  background-image: url(../assets/bgimg.webp);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
  background-size: 100% 100%;
}

#i0sspq {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  width: 52px;
  height: 52px;
  font-size: 28px;
  color: #dea15b;
  background-color: rgba(53, 52, 48, 0.7);
  border: 1px solid #353430;
  border-radius: 5px 5px 5px 5px;
}

#iijvd3 {
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}

#i3iys {
  padding-top: 0px;
}

#iajnz {
  padding-bottom: 0px;
}

#iopp4ee {
  padding-bottom: 8px;
  padding-top: 8px;
}

#io2zfef {
  flex-basis: 13.8%;
  padding: 8px;
  background-color: #1c1c1c;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgba(255, 255, 255, 0.11);
}

#iv3e3 {
  padding-top: 0px;
}

#ibjsflh {
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  border: 1px solid rgba(222, 161, 91, 0.5);
  background-color: rgba(53, 52, 48, 0.5);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 20px -10px #1b1915;
}

#i8t93d3 {
  padding-bottom: 8px;
  padding-top: 8px;
}

#i4ah49n {
  font-size: 26px;
  color: #cca15b;
}

#i178nph {
  padding: 0;
  margin-top: 0px;
}

#i0430rj {
  flex-basis: 13.8%;
  padding: 8px;
  background-color: #1c1c1c;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgba(255, 255, 255, 0.11);
}

#ikw6pwl {
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  border: 1px solid rgba(222, 161, 91, 0.5);
  background-color: rgba(53, 52, 48, 0.5);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 20px -10px #1b1915;
}

#ii1fgu4 {
  padding-top: 0px;
  padding-bottom: 0px;
}

#ii9ipvc {
  width: 100%;
}

#ipjyzt {
  width: 60%;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #1c1c1c;
  border: 1px solid rgba(222, 161, 91, 0.5);
  border-radius: 32px 32px 32px 32px;
  box-shadow: 0px 0px 15px -7px #1c1c1c;
}

#idyavcf {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0px;
  color: #ffffff;
  margin-top: 0px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

#izcvgap {
  font-size: 26px;
  color: #cca15b;
}

#itsf3l2 {
  padding: 0;
  margin-top: 0px;
}

.hgt {
  height: 60px;
}

#ix8pd6s {
  background-color: #dea15b;
  margin-bottom: -1px;
  padding-bottom: 2px;
  padding-top: 2px;
  font-size: 21px;
  font-family: Montserrat, sans-serif;
}

#isw5fy {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 42px;
  margin-bottom: 0px;
  color: #ffffff;
  line-height: 1.3;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  margin-top: 0px;
}

#ivipkyg {
  font-size: 26px;
  color: #cca15b;
}

#ilhu3k {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 22px;
  color: #ffffff;
  margin-top: 10px;
}

#i3n9te {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.84);
  margin-top: 12px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

#i7ukyii {
  width: 46.2%;
  padding: 0;
  background-color: #282723;
  border-radius: 5px 5px 5px 5px;
  border: 1px dashed rgba(222, 161, 91, 0.8);
  margin-top: 0px;
}

#ia5nk {
  width: 100%;
  margin-bottom: 0px;
}

#iyo7j3f {
  animation: shakex 1.5s ease infinite,
    animatedgradient 3s ease infinite alternate; /* Applies both shake and gradient animations with faster shake */
  padding: 10px 20px;
  background-image: radial-gradient(
    circle,
    #dea15b,
    #e6ae67,
    #eebb74,
    #f7c881,
    #ffd58e
  ); /* Initial gradient background */
  background-size: 300% 300%;
  color: black; /* Changed text color to black */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}
@keyframes shakex {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-2px); /* Slight shake to the left */
  }
  50% {
    transform: translateX(2px); /* Slight shake to the right */
  }
}
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} /* Optional: Hover effect */
.shake-gradient-button:hover {
  background-position: 100% 50%;
  transform: scale(1.05); /* Slightly increase size on hover */
}

.wrapper-box {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.gjs-ft-wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.gjs-ft-wrap-normal {
  max-width: 1140px;
}

.gjs-ft-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gjs-ft-column {
  flex-grow: 1;
  flex-basis: 100%;
  min-height: 1px;
  padding: 10px 15px;
  word-break: break-word;
}

.ftsub_heading {
  text-align: center;
  font-size: 23px;
  color: #000000;
  font-weight: 400;
  line-height: 1.2;
}

.resize-row-style {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ft_com_div {
  text-align: center;
}

.ft_com_box {
  text-align: center;
}

.countdown {
  display: inline-block;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px;
}

.ft-countdown-prnt {
  text-align: center;
}

@media (max-width: 768px) {
  .gjs-ft-row {
    flex-wrap: wrap;
  }
  .gjs-ft-column {
    /* flex-basis: 100%; */
    flex-basis: 100% !important;
  }
}

@media (max-width: 768px) {
  .ft-resize {
    width: 100%;
  }
}

@media (max-width: 480px) {
  #i99ub {
    font-size: 14px;
  }

  #i9o0e {
    padding: 0;
  }

  #iv3e3 {
    padding-right: 5px;
    padding-left: 5px;
  }

  #i882k4 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    width: 52px;
    height: 52px;
    font-size: 28px;
    color: #dea15b;
    background-color: rgba(53, 52, 48, 0.7);
    border: 1px solid #353430;
    border-radius: 5px 5px 5px 5px;
  }

  #ifhm3g2 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0px;
    color: #ffffff;
    margin-top: 5px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    text-align: left;
    margin-left: 10px;
    line-height: 1.3;
  }

  #im5tyw {
    width: 44px;
    height: 44px;
    font-size: 24px;
  }

  #ipjyzt {
    width: 80%;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid rgba(222, 161, 91, 0.77);
  }

  #ix8pd6s {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    margin-bottom: 2px;
    margin-top: 2px;
  }

  #idyavcf {
    font-size: 12px;
    font-weight: 700;
  }

  #ihm50t {
    margin-left: 0px;
    font-size: 12px;
    text-align: center;
  }

  #isw5fy {
    font-size: 28px;
    margin-bottom: 20px;
  }

  #ii1fgu4 {
    flex-wrap: nowrap;
  }

  #iddwyci {
    flex-wrap: nowrap;
  }

  #iopp4ee {
    flex-wrap: wrap;
  }
  #ilhu3k {
    margin-bottom: 14px;
  }

  #i7ukyii {
    width: 80%;
  }

  #islq2n2 {
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
    background-color: #282723;
    border: 0px solid rgba(255, 255, 255, 0.11);
  }

  #iw1kvk {
    font-size: 24px;
    height: 44px;
  }

  #iu8iu8 {
    width: 44px;
    height: 44px;
    font-size: 24px;
  }

  #ir0w6ze {
    background-color: #1c1c1c;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px 5px 5px 5px;
    font-size: 24px;
  }

  #ia5nk {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0;
    border-radius: 5px 5px 5px 5px;
  }

  #izcvgap {
    background-color: #1c1c1c;
    padding: 8px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    font-size: 24px;
  }

  #imyc0rg {
    margin-left: 0px;
    text-align: center;
    font-size: 12px;
  }

  #ifhm3g2 {
    margin-left: 0px;
    font-size: 12px;
    text-align: center;
  }

  #io2zfef {
    margin: 0px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
    border: 0px solid rgba(255, 255, 255, 0.11);
    background-color: #282723;
  }

  #i0sspq {
    width: 44px;
    height: 44px;
    font-size: 24px;
  }

  #iumsq9 {
    font-size: 24px;
    height: 44px;
  }

  #i3n9te {
    margin-top: 14px;
  }

  #i1lcvij {
    font-size: 12px;
    text-align: center;
    margin-left: 0px;
  }

  #i882k4 {
    width: 44px;
    height: 44px;
    font-size: 24px;
  }

  #ivipkyg {
    font-size: 24px;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px 5px 5px 5px;
    background-color: #1c1c1c;
  }
}

@media (max-width: 575.98px) {
  #ipjyzt {
    width: 97%;
    margin-top: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-right: 6px;
    padding-left: 6px;
  }

  #i0430rj {
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
    background-color: #282723;
    border: 0px solid rgba(255, 255, 255, 0.11);
  }

  #i4ah49n {
    background-color: #1c1c1c;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px 5px 5px 5px;
    font-size: 24px;
  }

  #idyavcf {
    font-size: 13px;
  }

  #isw5fy {
    font-size: 23px;
    line-height: 1.3;
    margin-top: 0px;
  }

  #ilhu3k {
    font-size: 12px;
    line-height: 1.4;
    font-weight: 500;
  }

  #ifhm3g2 {
    font-size: 13px;
  }

  #i1lcvij {
    font-size: 13px;
  }

  #i3n9te {
    font-size: 14px;
    margin-top: 35px;
  }

  #imyc0rg {
    font-size: 13px;
  }

  #izfxms {
    margin-bottom: 0px;
  }

  #izi3p1a {
    font-size: 12px;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.86);
  }

  #ihm50t {
    font-size: 13px;
  }

  #im5tyw {
    width: 48px;
    height: 48px;
    font-size: 26px;
  }

  #iupl8c {
    font-size: 10px;
  }

  #iumsq9 {
    font-size: 26px;
    height: 48px;
  }

  #i0sspq {
    width: 48px;
    height: 48px;
    font-size: 26px;
  }

  #i882k4 {
    width: 48px;
    height: 48px;
    font-size: 26px;
  }

  #il1f05 {
    font-size: 10px;
  }

  #id998bz {
    font-size: 12px;
  }

  #iw1kvk {
    font-size: 26px;
    height: 48px;
  }

  #iu8iu8 {
    width: 48px;
    height: 48px;
    font-size: 26px;
  }

  #ifnv01 {
    font-size: 10px;
  }

  #iyo7j3f {
    width: 100%;
    font-size: 16px;
  }

  #iijvd3 {
    font-size: 10px;
  }
}
body {
  background-color: #000; /* Assuming a dark background to highlight white text */
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Ensure the body takes the full height */
  font-family: "Montserrat", sans-serif;
}
